@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SBAggroL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    position: relative;
    max-width: 1024px;
    text-align: center;
    background-color:#fdeceb;
    background: linear-gradient(90deg, #fdeceb 19px, transparent 1%) center, linear-gradient(#fdeceb 19px, transparent 1%) center, white;
	background-size: 22px 22px;
}


/* 메인 컨테이너 */
.main-container{
    width:50vw;
    height:160vh;
    background-color: white;
    position: absolute;
    top:150px;
    left: 400px;
    border-radius:100px;
    border: 0.1em solid lightpink;
    background-color: rgba( 255, 255, 255, 0.4 );
    
}


/* 버거로고 */
#slogan{
    font-family: 'SBAggroB';
    position: absolute;
    font-size: 100px;
    color: lightpink;
    top: 120px;
    left: 200px;
    letter-spacing:-5px;
    line-height:100%;
}

/* 로고 밑 이미지 */
#slogan>img{
    position: absolute;
    width: 80%;
    top: 65px;
    left:25px;
}

/* nav 배경 */
.navback{
    position: absolute;
    width: 60%;
    top: 530px;
    left: 170px;
    border-radius:100px;
    border: 0.1em solid white;
    height: 6.5%;
    border-color:lightpink;
    background-color: rgba( 255, 255, 255, 0.5 );
}

/* ul태그 */
.nav{    
    width: 100%;
    font-family: 'SBAggroL';
    position: absolute;
    top: 545px;
    left: -25px;
}

.nav> img{    
    width: 4%;
}

li{
    display: inline-block;
    list-style: none;
    font-size: 16px;
    padding-right: 2%;
}

li:hover{
    font-family: 'SBAggroB';
    cursor:pointer;
}

/* 라디오 버튼 보여지는 여부 */
input[type='radio']{
    display: none;
}

/* 라디오 버튼 체크 후 옵션 */
input[type='radio']:checked{
    display: none;
    text-align: center;
    background-color: lightpink;
    color: white;
}

/* 제품 메뉴 */
.subwarp{
    width: 100%;
    position: absolute;
    left:30px;
}

/* 버거메뉴 시작 */
/* 불고기버거 시작 */
.burger>.bul{
    width: 50%;
    position: absolute;
    top:670px;
}

.burger>.bul>img{
    width: 50%;
    position: absolute;
    left: 150px;
}

.burger>.bul>label{
    font-family: 'SBAggroB';
    font-size: 16px;
    background-color: white;
    padding: 2em 2em;
    position: absolute;
    top: 150px;
    left: 160px;
}

.burger>.bul>label:hover{
    font-family: 'SBAggroB';
    font-size: 16px;
    background-color: lightpink;
    color: white;
    padding: 2em 2em;
    position: absolute;
    top: 150px;
    left: 160px;
}
/* 불고기버거 끝 */


/* 새우버거 시작 */
.burger>.shrimp{
    width: 50%;
    position: absolute;
    top:670px;
}

.burger>.shrimp>img{
    position: absolute;
    width: 53%;
    top: -65px;
    left: 460px;
}

.burger>.shrimp>label{
    font-family: 'SBAggroB';
    font-size: 16px;
    background-color: white;
    padding: 2em 2em;
    position: absolute;
    top: 150px;
    left: 470px;
}

.burger>.shrimp>label:hover{
    font-family: 'SBAggroB';
    font-size: 16px;
    background-color: lightpink;
    color: white;
    padding: 2em 2em;
    position: absolute;
    top: 150px;
    left: 470px;
}
/* 새우버거 끝 */



/* 치킨버거 시작 */
.burger>.chicken{
    width: 50%;
    position: absolute;
    top:1000px;
}

.burger>.chicken>img{
    position: absolute;
    width: 50%;
    top: -70px;
    left: 140px;
}

.burger>.chicken>label{
    font-family: 'SBAggroB';
    font-size: 16px;
    background-color: white;
    padding: 2em 2em;
    position: absolute;
    top: 150px;
    left: 150px;
}

.burger>.chicken>label:hover{
    font-family: 'SBAggroB';
    font-size: 16px;
    background-color: lightpink;
    color: white;
    padding: 2em 2em;
    position: absolute;
    top: 150px;
    left: 150px;
}
/* 치킨버거 끝 */


/* 치즈버거 시작 */
.burger>.basiccheese{
    width: 50%;
    position: absolute;
    top:1000px;
}

.burger>.basiccheese>img{
    position: absolute;
    width: 63%;
    top: -45px;
    left: 430px;
}

.burger>.basiccheese>label{
    font-family: 'SBAggroB';
    font-size: 16px;
    background-color: white;
    padding: 2em 2em;
    position: absolute;
    top: 150px;
    left: 470px;
}

.burger>.basiccheese>label:hover{
    font-family: 'SBAggroB';
    font-size: 16px;
    background-color: lightpink;
    color: white;
    padding: 2em 2em;
    position: absolute;
    top: 150px;
    left: 470px;
}
/* 치즈버거 끝 */
/* 버거메뉴 끝 */



/* 스낵메뉴 */
#snack{
    display: none;
    font-family: 'SBAggroL';
    font-size: 35px;
    position: absolute;
    top: 550px;
    left: 60px;
    width: 100%;
    
}

#snack > label{
    position: absolute;
    top: 1000px;
    left: 300px;
    
}

#snack>img{
    position: absolute;
    top: 130px;
    left: 300px;
    
}

/* 음료메뉴 */
#drink {
    display: none;
    font-family: 'SBAggroL';
    font-size: 35px;
    position: absolute;
    top: 650px;
    left: 60px;
    width: 100%;
}

#drink>label{
    margin-right: 60px;
}


/* +,- 버튼 유무 */
#disBT{
    display: none;
    position: absolute;
    top: 1340px;
    left: 70px;
}

/* +,- 버튼 디자인 */
.plus {
    padding: 10px 15px 10px 15px;
    background-color: white;
    border-style: none;
    border-radius:100px;
    color: palevioletred;
    position: absolute;
    left: 300px;
}

.minus{
    padding: 10px 15px 10px 15px;
    background-color: white;
    border-style: none;
    border-radius:100px;
    color: palevioletred;
    position: absolute;
    left: 400px;
}

.plus:hover{
    padding: 10px 15px 10px 15px;
    background-color:pink;
    color:white;
    border-style: solid;
    border-color: white;
    position: absolute;
    left: 300px;
}

.minus:hover{
    padding: 10px 15px 10px 15px;
    background-color:pink;
    color:white;
    border-style: solid;
    border-color: white;
    position: absolute;
    left: 400px;
}


/* 갯수 결과값 */
#countresult{
    font-family: 'SBAggroB';
    font-size: 30px;
    position: absolute;
    top: 1280px;
    left: 430px;
}

/* 제품 선택 출력 내용 */
#content{
    font-family: 'SBAggroB';
    font-size: 15px;
}

#total{
    margin: 10px;
}


/* 담기, 결제, 취소 버튼 */
.totalBT{
    width: 100%;
    position: absolute;
    top: 1400px;
    left: 0;    
}

.totalBT>.button{
    font-family: 'SBAggroB';
    display: inline;
    padding: 15px 25px 15px 25px;
    background-color: white;
    border-style: none;
    border-radius:100px;
    color: palevioletred;
    border-radius:100px;
    border: 0.1em solid lightpink;
    font-size: 16px;
}

.totalBT>.button:hover{
    padding: 15px 25px 15px 25px;
    background-color:black;
    color:white;
    border-style: solid;
    border-radius:100px;
    border: 0.1em solid white;
}
